<div class="container">
  <div class="right-btn d-flex flex-row-reverse">
    <div class="new-button">
        <%= link_to "Add new location", new_location_path, class: "button" %>
    </div>
  </div>
  <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %> ">
  </div>
  <div class="locations-cards">
   <% @locations.each do |location|%>
    <div class="location-card">
      <% if location.photo_url %>
        <%= image_tag location.photo_url %>
      <% elsif location.photo.attached? %>
        <%= cl_image_tag(location.photo.key, crop: :thumb, gravity: :face)%>
      <% else %>
        <%= image_tag "http://loremflickr.com/200/200/wine" %>
      <% end %>
      <%= location.name %>
    </div>
  <% end %>
  </div>
</div>
